.card {
    display: flex;
    flex-direction: column;
    float: right;
    box-shadow: 5px 15px 15px gray;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    text-align: center;
    height: 350px;
    justify-content: space-between;
}

.card img {
    width: 300px;
    height: 70%;
}

.card:hover {
    transform: scale(1.1);
}

.card button {
    background-color: seagreen;
    color: white;
    font-size: 15px;
    padding: 8px;
    margin: 5px;
}

.card button:hover {
    background-color: white;
    color: seagreen;
}