.body{
    background-color: lightskyblue;
    height: 100vh;
    width: 100vw;
}
*{
    margin: 0;
}
.box{
    
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    height:45%;
}
#btn{
    margin:20px;
    width: 85%;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 15px;
    height: 25px;
    
}
h4{
    padding-top: 10px;
    margin: 10px 0;
}
input{
    border-radius: 15px;
    height: 20px;
    border: 1px solid gray;
    width: 95%;
    padding: 5px;
}
i{
    border-radius: 50%;
    padding: 10px;
    border: 2px solid black;
    margin:10px 20px;
    
}


